<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>鸡排饭乐队 - 主页</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="apple-touch-icon" href="/static/icon.png">
  <link rel="icon" href="/static/favicon.ico">

  <link rel="stylesheet" href="/static/normalize.css">
  <link rel="stylesheet" href="/static/bigmain.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->

<div id="divbody">
  <div id="divbut">
    <img id="bkimg" src="/static/img/layer0.png">
  </div>
</div>

  <div id="sidemenu">
    <a href="/videolist"><img id="side4" class="sidebut" src="/static/img/side4.png" onmouseover="s4()" onmouseout="sideout()"></a>
    <a href="/comment"><img id="side3" class="sidebut" src="/static/img/side3.png" onmouseover="s3()" onmouseout="sideout()"></a>
    <a href="/member"><img id="side1" class="sidebut" src="/static/img/side1.png" onmouseover="s1()" onmouseout="sideout()"></a>
    <a href="/contact"><img id="side2" class="sidebut" src="/static/img/side2.png" onmouseover="s2()" onmouseout="sideout()"></a>
    <a href="/"><img id="sideback" class="sidebut" src="/static/img/sideback.png" onmouseover="sb()" onmouseout="sideout()"></a>
  </div>
  <div id="framesite">
	{% block body %}
	{% endblock %}
  </div>
    <script>
  var jmain=document.getElementById("framesite");
  var jdivbut=document.getElementById("divbut");
  temp1 = document.body.clientWidth;                                                                                      temp2 = window.screen.height ;
  temp1 = Math.floor((temp1 - 1366) / 2 + 250);
  temp2 = Math.floor(temp2-200);
  temp3 = temp1 + 500;
  jmain.style.left = temp1 + "px";
  jdivbut.style.left = temp3 + "px";
    </script>

  <script src="/static/js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="/static/js/plugins.js"></script>
  <script src="/static/js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
